#root {
  width: 100%;
  height: 95%;
}

.App {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*-----------------*/

/* .row-item {
  width: 100%;
  list-style-type: none;
  height: 6%;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #1a1d28;
  font-weight: 500;
  font-size: 1.6rem;
}

.table-head {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #1a1d28;
  font-weight: 500;
  font-size: 1.6rem;
}

.row-item:hover {
  cursor: pointer;
  background-color: #5b0b0d;
  color: #fff;
  transition: 0.2s;
}

.table {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  overflow-y: scroll;
}

.rows {
  padding: 0;
  margin: 0;
  height: 100%;
} */

/*-----------------*/

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  /* height: 100%; */
}

.table-head tr {
  text-align: left;
}

.table tbody {
  height: 100%;
}

.table-head tr {
  font-size: 1.6rem;
  color: #5b0b0d;
}

.table-row {
  height: 5px;
  border-bottom: 0.1rem solid #1a1d28;
  padding-left: 1rem;
}

.table-row:hover {
  cursor: pointer;
  /* color: #fff; */
  transition: 0.2s;
  /* background-color: #282c346e; */
  background-color: #282c3438;
}

th {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem solid #1a1d28;
  position: sticky;
  top: 0;
  color: #fff;
  background-color: #5b0b0d;
  font-weight: 500;
  border-left: 0.1rem solid #1a1d28;
  z-index: 5;
}

td {
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-left: 0.1rem solid #1a1d28;
}

.center {
  text-align: center;
}

.sticky {
  position: sticky;
  left: 0;
  color: #fff;
  z-index: 10;
}

.position {
  background-color: #342828;
}

.position-header {
  z-index: 15;
}

.name-sticky {
  position: sticky;
  left: 4.7rem;
  z-index: 10;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
    width: 90%;
    margin: auto;
  }
}
